<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Word Counter</title>
  </head>
  <body>
    <form action = "/result" method = "post">
      <label for "inputWord">Word to count</label>
      <input type = "text" name = "inputWord">
      <label for "inputSentence">Sentence to check</label>
      <input type = "text" name = "inputSentence">
      <button type = "submit" name = "button">Check it!</button>
    </form>
    <ul>
      <li>
        @Model
      </li>
    </ul>
  </body>
</html>
