<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Word Counter</title>
  </head>
  <body>
    <ul>
      <li>
        <h1>Times your word was used: @Model</h1>
      </li>
    </ul>
    <p><a href = "/">Try it again!</a></p>
  </body>
</html>
